@tailwind base;
@tailwind components;
@tailwind utilities;

/* fix html2canvas */
@layer base {
  img {
    @apply inline-block;
  }
}
html,
body {
  @apply text-white;
  background-color: #2f3136;
}

@layer components {
  .container {
    @apply max-w-5xl;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* disable select arrow */
select {
  appearance: none;
}
